In [5]:
ice_cream_rating = 8

In [6]:
sleeping_rating = 7

In [7]:
first_name = input()

 Saana

In [8]:
last_name = input()

 Järvinen

In [45]:
my_name = first_name, last_name

In [55]:
happiness_rating = 7.5

In [12]:
type(ice_cream_rating)

int

In [13]:
type(ice_cream_rating)
type(first_name)
type(happiness_rating)

tuple

In [14]:
type(first_name)

str

In [57]:
type(happiness_rating)

float

ice_cream_rating is a clear integer, so not a surprise. First_name I thought would be text or something, but string makes sense too. Tuple however was a new word for me, Google said it was "an ordered set of values"...

In [19]:
print('My name is', first_name, 'and I give eating ice cream a score of', ice_cream_rating, 'out of 10!')

My name is Saana and I give eating ice cream a score of 8 out of 10!

In [47]:
print('I am', first_name, last_name, 'and my sleeping enjoyment rating is', sleeping_rating,'/ 10!')

I am Saana Järvinen and my sleeping enjoyment rating is 7 / 10!

In [56]:
print('Based on the factors above, my happiness rating is', happiness_rating, 'out of 10, or 75%')

Based on the factors above, my happiness rating is 7.5 out of 10, or 75%

I noticed that my happiness_rating had a comma separative value. Now that I checked the data type for happiness_rating again it says "float". This made much more sense, and I learned something new on the way.